<!-- PLACEHOLDER CONTENT START -->

<div class="container">
    <h1>Custom Widget Area</h1>

    <p>This is where the custom widget that you're designing will be placed while testing. Below are the steps for testing your custom widget.</p>
    <ol>
        <li>Place the content of <strong>widget.html</strong> into <strong>widget-area.component.html</strong>.</li>
        <li>Place the content of <strong>widget.css</strong> into <strong>widget-area.component.css</strong>.</li>
        <li>Insert the functional components of <strong>widget.js</strong> into <strong>widget-area.component.ts</strong>.</li>
    </ol>
    
    
    <p><strong>Note:</strong> The widget.json file isn't accounted for in this environment. If you have any widget fields, hard code their values for testing.</p>

    <hr>

    <h1>Emulating Events</h1>

    <p>The buttons on the left side of the screen can be used to emulate stream events similar to how the StreamElements overlay interface provides.</p>
    <p><strong>Note:</strong> This environment is not meant to be a replacement for the StreamElements overlay design interface. Use the event emulate to ensure baseline functionality and then migrate your widget to the StreamElements interface for further testing.</p>
</div>

<!-- PLACEHOLDER CONTENT END -->