<div class="control-sections">
    <section class="control-section">
        <div class="control-section-title">Emulate Events</div>
        <ul>
            <li><button (click)="onEmulateFollowerEventClick()">Follower Event</button></li>
            <li><button (click)="onEmulateSubscriberEventClick()">Subscriber Event</button></li>
            <li><button (click)="onEmulateTipEventClick()">Tip Event</button></li>
            <li><button (click)="onEmulateCheerEventClick()">Cheer Event</button></li>
            <li><button (click)="onEmulateHostEventClick()">Host Event</button></li>
            <li><button (click)="onEmulateRaidEventClick()">Raid Event</button></li>
        </ul>
    </section>
</div>


